
{{#if msg}}
 <div class="alert alert-danger">
            {{#each msg}}
                {{this.msg}}
                <br />
            {{/each}}
 </div>
{{/if}}

{{!-- {{#if msg_2}}
 <div class="alert alert-danger">
     {{msg_2}}
 </div>
{{/if}} --}}

<card class="card card-body">
    <h2>Video Ideas</h2>
    <form action="/ideas" method="POST">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" value="{{title}}"
    </div>
    <div class="form-group">
        <label for="details">Details</label>
        <textarea class="form-control" name="details"> {{details}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</card>