{{#if success_msg}}
    <div class="btn btn-success">{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
    <div class="btn btn-success">{{error_msg}}</div>
{{/if}}

{{#if error}}
    <div class="btn btn-success">{{error}}</div>
{{/if}}